body {
    font-size: 24px;
    font-family: monospace;
    background-color: rgb(47, 47, 65);
    color: white;
}
.typewriter {
    font-family: monospace;
    display: inline-block;
}
.header {
    text-align: center;
    padding: 4.15rem 0;
    background: #33cccc;
    margin: 0;
}
.typewriter-text {
    display: inline-block;
    overflow: hidden;
    animation: typing 2.5s steps(30, end), blink .75s step-end infinite;
    white-space: nowrap;
    font-size: 30px;
    font-weight: 700;
    border-right: 4px solid black;
    box-sizing: border-box;
    font-size: 36px;
}
@keyframes typing {
    from {
        width: 0% 
    }
    to { 
        width: 100% 
    }
}
@keyframes blink {
    from, to { 
        border-color: transparent 
    }
    50% { 
        border-color: black; 
    }
}
li {
    line-height:70%;
    padding-bottom: 0px;
    font-family: monospace;
}
.tag {
    color: #f92672;
}
.cssTag {
    color: #a6e22e;
}
.idkYellow {
    color: #e6db74;
}