body {
    font-size: 24px;
    font-family: monospace;
    background-color: rgb(47, 47, 65);
    color: white;
}
.marginLeft {
    margin-left: 25px;
}
.typewriter {
    font-family: monospace;
    display: inline-block;
}
.header {
    padding: 4.15rem 0;
    background: #75c6eb;
    margin: 0;
    text-align: center;
}
button {
    background: #33cccc;
    margin: 0;
    font-size: 26px;
    padding: 10px;
    font-family: monospace;
    border:0;
}
button:hover {
    background: #75c6eb;
}
.container {
    text-align: center;
}
.img {
    margin-left: 280px;
    margin-right: auto;
    width: 60%;
}
.typewriter-text {
    display: inline-block;
    overflow: hidden;
    animation: typing 2.5s steps(30, end), blink .75s step-end infinite;
    white-space: nowrap;
    font-size: 30px;
    font-weight: 700;
    border-right: 4px solid white;
    box-sizing: border-box;
    font-size: 36px;
}
.typewriter-examples {
    display: inline-block;
    overflow: hidden;
    animation: typing 2.5s steps(50, end), blink .75s step-end infinite;
    white-space: nowrap;
    font-size: 30px;
    font-weight: 700;
    border-right: 4px solid white;
    box-sizing: border-box;
    font-size: 36px;
}
#whatIs {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    font-size: 30px;
    font-weight: 700;
    border-right: 4px solid white;
    box-sizing: border-box;
    font-size: 36px;
}
/* make the defintiion start typing after */
@keyframes typing {
    from {
        width: 0% 
    }
    to { 
        width: 100% 
    }
}
@keyframes blink {
    from, to { 
        border-color: transparent 
    }
    50% { 
        border-color: white; 
    }
}
li {
    line-height:70%;
    padding-bottom: 0px;
    font-family: monospace;
}
.token-tag {
    color: #f92672;
}
.token-attr {
    color: #a6e22e;
}
.token-link {
    color: #e6db74;
}
.token-code {
    padding: 4.15rem;
    background: #272822;
    margin-right: 125px;
}
