body {
    font-size: 24px;
    font-family: monospace;
    background-color: rgb(47, 47, 65);
    color: white;
    margin: 0;
}
.marginLeft {
    margin-left: 25px;
}
.typewriter {
    font-family: monospace;
    display: inline-block;
}
.link {
    color:rgb(0, 183, 255)
}
.header {
    padding: 4.15rem 0;
    background: #75c6eb;
    margin: 0;
    text-align: center;
    font-size:50px;
}
.method {
    color:rgb(0, 183, 255)
}
button {
    background: #e6db74;
    margin: 0;
    font-size: 26px;
    padding: 10px;
    font-family: monospace;
    border:0;
    place-self: center;
}
.title-button {
    padding: 20px;
    width:70%;
    background-color: rgb(0, 183, 255);
}
.click-link {
    color:#75c6eb;
}
.move-button:hover {
    background-color: #a6e22e;
    cursor:pointer;
}
.container {
    text-align: center;
}
.move-button:hover span {
    display:none
}
.move-button:hover:before {
    content:"Click here!"
}
.img {
    margin-left: 280px;
    margin-right: auto;
    width: 60%;
}
.typewriter-text {
    display: inline-block;
    overflow: hidden;
    animation: typing 2.0s steps(35, end), blink .75s step-end infinite;
    white-space: nowrap;
    font-size: 30px;
    font-weight: 700;
    border-right: 4px solid white;
    box-sizing: border-box;
    font-size: 36px;
}
#learn {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    font-size: 30px;
    font-weight: 700;
    box-sizing: border-box;
    font-size: 70px;
}
#whatIs {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    font-size: 30px;
    font-weight: 700;
    border-right: 4px solid white;
    box-sizing: border-box;
    font-size: 36px;
}
#options {
    color:#f92672;
    font-size:70px;
    text-indent: 0.25em;
}
/* make the defintiion start typing after */
@keyframes typing {
    from {
        width: 0% 
    }
    to { 
        width: 100% 
    }
}
@keyframes blink {
    from, to { 
        border-color: transparent 
    }
    50% { 
        border-color: white; 
    }
}
li {
    padding-bottom: 0px;
    font-family: monospace;
}
.token-tag {
    color: #f92672;
}
.token-attr {
    color: #a6e22e;
}
.token-link {
    color: #e6db74;
}
.token-code {
    padding: 4.15rem;
    background: #272822;
    margin-right: 125px;
}
/* 3 buttons each appears when their word is there */
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    margin-bottom: 250px;
  }
#effect {
    color: #f92672;
}
#event-handle {
    color:#a6e22e;
}
#dom {
    color: #e6db74;
}

#effect:hover {
    cursor: pointer;
    background-color: #f92672;
    color: rgb(0, 183, 255);
}
#event-handle:hover {
    background-color: #a6e22e;
    color: rgb(0, 183, 255);
    cursor: pointer;
}
#dom.title-button:hover {
    background-color: #e6db74;
    color:rgb(0, 183, 255);
    cursor: pointer;
}